@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import './partials/backgroung-imgs';
@import './partials/general';
@import './partials/header';
@import './partials/main-banners';
@import './partials/genres';
@import './partials/gallery';
@import './partials/login-modal';
@import './partials/book-info-moadl';
@import './partials/footer';





  // /* cell number */
  // .gallery-cell:before {
  //   display: block;
  //   text-align: center;
  //   // content: counter(gallery-cell);
  //   line-height: 200px;
  //   font-size: 80px;
  //   color: white;  
  // }



  

 .display-none{
  //  transform: translateX(300px);
   opacity:0;
   z-index: -1;
 }


 



  //////media query////////
  @media(max-width: 799.99px) {



    .flickity-page-dots{
      display: none;
    }
  
    .large{
      height: 25vh;
    }
   
    .small{
      width: 80%;
   }
    ////////login-modals/////////


  }

    ////////books-modals/////////
    //  .modal{
    //      .book-info-modal{
    //        height: 95%;
    //        flex-direction: column;
    //        .book-purchase{
    //           width: 90%;
    //           padding: 0;
    //           flex: 1;
    //           .book-name{
    //             font-size: 20px;
    //            }
    //            .author-name{
    //             font-size: 12px;
    //            }
    //           .info-img{
    //             width: 70%;
    //             height:70%;
    //             margin: auto;
    //           }
    //        }
    //        .book-info-text{
    //          margin: 0;
    //          padding: 9px;
    //          flex: 1.5;
    //          transform:translateX(0);
    //          .summery{
    //            height: auto;
    //            p{
    //              font-size: 13px;
    //              line-height: 16px;
    //            }

    //          }
    //        }
    //        .add-to-cart{
    //          height: 12%;
    //        }
          
    //      }
    //  }
    // }
  

    
