@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
.banner1 {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10352/1100X345_8BookFEBnew.jpg");
}

.banner2 {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10402/1100X345_newBook21.jpg");
}

.banner3 {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10352/1100X345_8BookFEBnew.jpg");
}

.banner4 {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10379/1100X345_merz21.jpg");
}

.proseImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/makor.png");
}

.romanceImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/romance.png");
}

.historyImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/history2.png");
}

.thrillerImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/action.png");
}

.kidsImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/yeladim.png");
}

.jewImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/judaism.png");
}

.biographyImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/biography.png");
}

.facebook {
  background-image: url("https://www.e-vrit.co.il/Content/Assets/Shared/facebookIcon.svg");
}

.instegram {
  background-image: url("https://www.e-vrit.co.il/Content/Assets/Shared/instagramIcon.svg");
}

* {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #525050;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

* .flickity-button.flickity-prev-next-button {
  display: none;
}

.display-none {
  opacity: 0;
  z-index: -1;
}

.fa-times {
  font-size: 35px;
  color: #a39d9d;
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: 80%;
}

:hover {
  opacity: 1;
}

.header {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 18px -2px rgba(128, 128, 128, 0.514);
          box-shadow: 0 4px 18px -2px rgba(128, 128, 128, 0.514);
}

@media (max-width: 800px) {
  .header {
    height: 110px;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header .main-search {
  border: 1px 5px;
  width: 40vw;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #4ca1e7;
  color: #333333;
  padding: 10px;
  margin: 10px 0;
  background-image: url("http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png");
  background-size: 20px;
  background-position-x: 98%;
  background-position-y: center;
  background-repeat: no-repeat;
  text-indent: 30px;
  font-size: 15px;
}

@media (max-width: 800px) {
  .header .main-search {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 30px;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

.header :focus {
  outline: none;
  border-width: 2px;
}

.header .logo-container {
  width: 170px;
  text-align: center;
  letter-spacing: 1.5px;
}

@media (max-width: 800px) {
  .header .logo-container {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.header .logo-container h1 {
  font-size: 50px;
}

.header .logo-container h1 span {
  color: #f25;
}

@media (max-width: 800px) {
  .header .logo-container h1 {
    font-size: 35px;
  }
}

.header .logo-container h3 {
  font-size: 12px;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

@media (max-width: 800px) {
  .header .logo-container h3 {
    font-size: 10px;
  }
}

.header .utils-container {
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px;
}

.header .utils-container * {
  margin: 8px;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .header .utils-container {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  .header .utils-container * {
    font-size: 23px;
    margin: 4px;
  }
}

#main {
  width: 100%;
  height: 32vw;
}

#main .banner {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

#genres {
  height: 12vw;
  width: 60%;
  margin: 20px auto;
}

@media (max-width: 800px) {
  #genres {
    height: 19vw;
    margin: 0 auto;
    width: 65%;
  }
}

@media (max-width: 500px) {
  #genres {
    height: 22vw;
  }
}

#genres div {
  min-width: 100px;
  height: 100%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-content: center;
}

@media (max-width: 500px) {
  #genres div {
    min-width: 50px;
  }
}

#genres div p {
  font-size: 15px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.gallery-container {
  height: 350px;
  width: 80%;
  margin: 35px auto;
}

@media (max-width: 800px) {
  .gallery-container {
    height: 250px;
    width: 95%;
  }
}

@media (max-width: 500px) {
  .gallery-container {
    height: 160px;
  }
}

.gallery-container .section-title {
  width: 80vw;
  border-top: solid #dfd7d7 1px;
  font-size: 30px;
  padding: 10px;
}

@media (max-width: 800px) {
  .gallery-container .section-title {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .gallery-container .section-title {
    font-size: 20px;
  }
}

.gallery-container .gallery.mid {
  height: 98%;
}

.gallery-container .gallery.mid .gallery-cell {
  min-width: 200px;
  height: 95%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 5px;
}

.gallery-container .gallery.mid .gallery-cell:hover {
  opacity: 60%;
}

@media (max-width: 800px) {
  .gallery-container .gallery.mid .gallery-cell {
    min-width: 140px;
  }
}

@media (max-width: 500px) {
  .gallery-container .gallery.mid .gallery-cell {
    min-width: 100px;
  }
}

.gallery-container .gallery.mid .gallery-cell p {
  font-size: 20px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(29, 26, 26, 0.829);
  -webkit-filter: blur();
          filter: blur();
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.2s;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.4s ease-in-out;
  transition: transform 0.2s, opacity 0.4s ease-in-out, -webkit-transform 0.2s;
  position: relative;
}

@media (max-width: 800px) {
  .modal form {
    width: 85vw;
    height: 80vh;
    position: fixed;
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

.modal form .fa-times {
  font-size: 35px;
  color: #a39d9d;
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: 80%;
}

.modal form :hover {
  opacity: 1;
}

.modal form .modal-title {
  padding: 8px;
  font-size: 30px;
  text-align: center;
  color: #333333;
}

.modal form input, .modal form button {
  width: 60%;
  padding: 15px;
  margin: 2px;
  border-radius: 4px;
  border: solid #dfd7d7 1px;
}

.modal form button {
  font-size: 20px;
  color: #ffffff;
  -webkit-box-shadow: 1px 1px 5px #333333;
          box-shadow: 1px 1px 5px #333333;
}

.modal form .enableSubmit {
  background-color: #f25;
}

.modal form .disableSubmit {
  background-color: #eba0b1;
}

.modal form .warning {
  color: red;
}

.modal .switch-title {
  font-size: 18px;
  padding: 15x;
}

@media (max-width: 800px) {
  .modal form .modal-title {
    margin-top: 15px;
  }
  .modal form input, .modal form button {
    width: 80%;
  }
  .modal .switch-title {
    font-size: 18px;
    padding: 15x;
  }
  .modal .book-info-modal {
    height: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal .book-info-modal .book-purchase {
    width: 90%;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .modal .book-info-modal .book-purchase .book-name {
    font-size: 20px;
  }
  .modal .book-info-modal .book-purchase .author-name {
    font-size: 12px;
  }
  .modal .book-info-modal .book-purchase .info-img {
    width: 70%;
    height: 70%;
    margin: auto;
  }
  .modal .book-info-modal .book-info-text {
    margin: 0;
    padding: 9px;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .modal .book-info-modal .book-info-text .summery {
    height: auto;
  }
  .modal .book-info-modal .book-info-text .summery p {
    font-size: 13px;
    line-height: 16px;
  }
  .modal .book-info-modal .add-to-cart {
    height: 12%;
  }
}

.modal .book-info-modal {
  position: relative;
  width: 80vw;
  height: 80vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.modal .book-info-modal .book-title {
  height: 90%;
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  padding: 8px;
}

.modal .book-info-modal .book-title * {
  text-align: center;
}

.modal .book-info-modal .book-title .info-img {
  width: 100%;
  min-width: 190px;
  height: 70%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 8px 0;
}

@media (max-width: 500px) {
  .modal .book-info-modal .book-title .info-img {
    height: 55%;
    min-width: 130px;
    margin: 4px 0;
  }
}

.modal .book-info-modal .book-title .book-name {
  font-size: 30px;
}

@media (max-width: 500px) {
  .modal .book-info-modal .book-title .book-name {
    font-size: 23px;
  }
}

.modal .book-info-modal .book-title .author-name {
  font-size: 20px;
}

@media (max-width: 500px) {
  .modal .book-info-modal .book-title .author-name {
    font-size: 16px;
  }
}

.modal .book-info-modal .book-info-text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 15px;
  margin: 8px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  border: solid 1px #ecdfe2;
}

@media (max-width: 800px) {
  .modal .book-info-modal .book-info-text {
    border: none;
  }
}

@media (max-width: 500px) {
  .modal .book-info-modal .book-info-text {
    -webkit-transform: translate(0, -46px);
            transform: translate(0, -46px);
    padding: 4px;
  }
}

.modal .book-info-modal .book-info-text .summery {
  width: 90%;
}

.modal .book-info-modal .book-info-text .summery p, .modal .book-info-modal .book-info-text .summery h3 {
  color: #f25;
}

@media (max-width: 500px) {
  .modal .book-info-modal .book-info-text .summery h3 {
    font-size: 14px;
  }
  .modal .book-info-modal .book-info-text .summery p {
    font-size: 11px;
  }
}

.modal .book-info-modal .add-to-cart {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  margin: auto;
  background-color: #f25;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
}

.modal .book-info-modal .add-to-cart .info-price {
  margin: 0 10px;
  color: #ffffff;
}

.modal .book-info-modal .add-to-cart .cart-icon .fa-cart-plus {
  font-size: 30px;
  color: #ffffff;
}

#footer {
  width: 100%;
  background-color: #f25;
  height: 32vh;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  border-radius: 0px;
}

@media (max-width: 500px) {
  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#footer .footer-element {
  width: 25%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  #footer .footer-element {
    width: 40%;
  }
}

#footer .footer-element h4 {
  font-size: 20px;
  color: #dfd7d7;
}

@media (max-width: 500px) {
  #footer .footer-element h4 {
    width: 200px;
    text-align: center;
  }
}

#footer .footer-element a {
  font-size: 15px;
  margin: auto;
  text-decoration: none;
  color: #dfd7d7;
}

@media (max-width: 500px) {
  #footer .footer-element a {
    font-size: 13px;
  }
}

#footer .footer-element .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 30px;
}

#footer .footer-element .social .social-element {
  width: 30px;
  height: 100%;
  background: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.credits {
  width: 100%;
  height: 30px;
  background-color: #333333;
  border-radius: 0px;
}

.half-modal {
  width: 100%;
  height: 85vh;
  background-color: rgba(29, 26, 26, 0.829);
  -webkit-filter: blur();
          filter: blur();
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 16vh;
  z-index: 3;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  border-radius: 0;
}

.half-modal .books-search-modal {
  width: 80%;
  height: 90%;
  margin: auto;
  background-color: #ffffff;
}

.half-modal .books-search-modal .searched-books {
  width: 90%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.half-modal .books-search-modal .searched-books .section-title {
  border: none;
}

@media (max-width: 800px) {
  .half-modal .books-search-modal .searched-books .section-title {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .half-modal .books-search-modal .searched-books .section-title {
    font-size: 13px;
  }
}

.half-modal .books-search-modal .searched-books .book {
  width: 30%;
  height: 90%;
}

.display-none {
  opacity: 0;
  z-index: -1;
}

@media (max-width: 799.99px) {
  .flickity-page-dots {
    display: none;
  }
  .large {
    height: 25vh;
  }
  .small {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */