@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #525050;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  height: 80px;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 18px -2px rgba(128, 128, 128, 0.514);
          box-shadow: 0 4px 18px -2px rgba(128, 128, 128, 0.514);
}

.main-search {
  border: 1px 5px;
  width: 500px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #4ca1e7;
  color: #333333;
  padding: 8px;
  background-image: url("http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png");
  background-size: 5%;
  background-position-x: 99%;
  background-position-y: center;
  background-repeat: no-repeat;
  text-indent: 40px;
  font-size: 15px;
}

:focus {
  outline: none;
  border-width: 2px;
}

.logo-container {
  width: auto;
}

.logo-container h1 {
  font-size: 50px;
}

.logo-container h1 span {
  color: #e74c87;
}

.logo-container h3 {
  font-size: 12px;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.utils-container {
  height: 34px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.utils-container * {
  margin: 8px;
  font-size: 30px;
}

.gallery {
  margin: 30px auto 30px auto;
}

.large {
  height: 270px;
}

.mid {
  height: 250px;
  width: 80%;
}

.small {
  height: 140px;
  width: 80%;
}

.gallery-cell {
  width: 18%;
  height: 100%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gallery-cell p {
  font-size: 20px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.large-cells {
  width: 75%;
}

.banner1 {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10352/1100X345_8BookFEBnew.jpg");
}

.banner2 {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10402/1100X345_newBook21.jpg");
}

.banner3 {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10352/1100X345_8BookFEBnew.jpg");
}

.banner4 {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10379/1100X345_merz21.jpg");
}

.proseImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/makor.png");
}

.romanceImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/romance.png");
}

.historyImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/history2.png");
}

.thrillerImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/action.png");
}

.kidsImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/yeladim.png");
}

.jewImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/judaism.png");
}

.biographyImg {
  background-image: url("https://images-evrit.yit.co.il/Images/Products/categories_icons/biography.png");
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
/*# sourceMappingURL=style.css.map */