.banner1{
    background-image: url( 'https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10352/1100X345_8BookFEBnew.jpg');
  }
  .banner2{
   background-image: url( 'https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10402/1100X345_newBook21.jpg');
  
  }
  .banner3{
   background-image: url( 'https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10352/1100X345_8BookFEBnew.jpg');
  }
  .banner4{
   background-image: url( 'https://images-evrit.yit.co.il/Images/Products/NewBO/StripItems/10379/1100X345_merz21.jpg');
  }
  
  .proseImg{
    background-image: url('https://images-evrit.yit.co.il/Images/Products/categories_icons/makor.png');
  }
  .romanceImg{
    background-image: url('https://images-evrit.yit.co.il/Images/Products/categories_icons/romance.png');
  }
  .historyImg{
    background-image: url('https://images-evrit.yit.co.il/Images/Products/categories_icons/history2.png');
  }
  .thrillerImg{
    background-image: url('https://images-evrit.yit.co.il/Images/Products/categories_icons/action.png');
  }
  .kidsImg{
  background-image: url('https://images-evrit.yit.co.il/Images/Products/categories_icons/yeladim.png');
  }
  .jewImg{
    background-image: url('https://images-evrit.yit.co.il/Images/Products/categories_icons/judaism.png');
  
  }
  .biographyImg{
    background-image: url('https://images-evrit.yit.co.il/Images/Products/categories_icons/biography.png');
  }
  