.header{
    height: 100px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 18px -2px rgba(128, 128, 128, 0.514); 
    @media (max-width:500px) {
      height: 110px;
      position: relative;
      justify-content: space-around;

    }
    .main-search{
      border: 1px 5px;
      width: 40vw;
      height: 50px;
      border-radius: 8px;
      border:1px solid rgb(76, 161, 231);
      color: #333333;
      padding:10px;
      margin: 10px 0;
      background-image: url('http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png');
      background-size:20px;
      background-position-x: 98%;
      background-position-y: center;
      background-repeat: no-repeat;
      text-indent: 40px;
      font-size: 15px;
      @media(max-width:500px){
          position: absolute;
          bottom: 0;
          width: 90%;
          text-indent: 20px;
          height: 30px;
          transform: translateX(-8px);
      }
  }
  :focus{
    outline: none;
    border-width: 2px;
  }
  .logo-container{
    width:170px;
    text-align: center;
    letter-spacing: 1.5px;
    @media(max-width:500px){
      transform: translateY(-15px);
    }
      h1{
         font-size: 50px;
  
         span{
            color: #f25;
         }
         @media(max-width: 800px){
          font-size: 35px;
        }
      }
      h3{
          font-size:12px;
          transform: translateY(-12px);
          @media(max-width: 800px){
            font-size: 10px;
          }
       
      }
    
     
  }
  
  .utils-container{
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      *{
          margin: 8px;
          font-size:30px;
          cursor: pointer;
      } 
      @media(max-width:500px){
        transform: translateY(-15px);
        *{
          font-size:23px;
          margin: 4px;
        }

      }
  }
}